#content{
	width: 980px;
	margin: 0 auto;
}

.cart_status{
	margin-top: 50px;
}

.goods_num{
	width: 977px;
    text-align: right;
    margin: 15px 0;
}

.goods_num span{
	font-weight: bold;
	color: #5c5c5c;
}

.goods_num span b{
	color: #14A598;
}

.cart_count {
    width: 977px;
    height: 29px;
    margin-top: 10px;
}

.cart_count ul {
    width: 150px;
    float: left;
    height: 18px;
    padding-top: 11px;
}

.goon_shopping {
    background: url(/img/goon_shopping_logo.jpg) 0 3px no-repeat;
    width: 49px;
    padding-left: 19px;
}

.cart_count ul li {
    float: left;
}

.cart_count ul li a{
    color: #5b5b5b;
}

.shopping_consultation {
    background: url(/img/shopping_consultation_logo.jpg) 0 3px no-repeat;
    width: 49px;
    padding-left: 19px;
    margin-left: 14px;
}

.total_price {
    width: 745px;
    text-align: right;
    padding-right: 3px;
    float: left;
    height: 18px;
    padding-top: 11px;
}

.total_price span {
    color: #FF7960;
    font-size: 16px;
    font-weight: 700;
}

.settlement{
	cursor: pointer;
}

.cart_goods_tit {
    width: 977px;
    height: 44px;
    background: url(/img/goods_tit_bg.jpg) repeat-x;
    margin-top: 10px;
}

.cart_goods_tit li {
    line-height: 44px;
    text-align: left;
    color: #5A5A58;
    font-weight: 700;
    float: left;
}

.all_check_but {
    width: 19px;
    padding-left: 13px;
    line-height: 0;
}

.all_check_but input, .buygoods_list input, .administration_cart_goods input {
    width: 12px;
    height: 12px;
}

.all_check {
    width: 142px;
}

.store_baby {
    width: 184px;
}

.wasai_money {
    width: 96px;
}

.unit_price {
    width: 105px;
}

.cart_googs_num {
    width: 117px;
}

.cart_youhui {
    width: 101px;
}

.little_count {
    width: 122px;
}

.poeration {
    width: 78px;
}

.administration_cart_goods {
    width: 977px;
    height: 42px;
    margin-top: 130px;
    float: left;
    color: #5b5b5b;
}

.administration_cart_goods dt {
    width: 800px;
    height: 40px;
    float: left;
    border: 1px solid #ededed;
    background: #F7F8F3;
    line-height: 40px;
    padding: 0 0 0 12px;
}

.administration {
    width: 601px;
    float: left;
}

.administration_cart_goods dt input {
    display: block;
    float: left;
    margin-top: 13px;
    margin-right: 4px;
}

.administration_cart_goods dt span {
    display: block;
    float: left;
    margin-right: 27px;
}

.administration_babycount {
    width: 199px;
    float: left;
}

.administration_babycount strong {
    font-size: 16px;
    color: #FF776B;
}

.administration_cart_goods dd {
    width: 163px;
    float: left;
}

.buygoods_list_tit {
    height: 35px;
    width: 977px;
    float: left;
}

.buygoods_list_tit_checkbos {
    width: 17px;
    height: 20px;
    float: left;
    padding: 15px 0 0 13px;
}

.buygoods_list_tit_store {
    color:#5c5c5c;
    width: 126px;
    height: 22px;
    float: left;
    padding-top: 13px;
}

.buygoods_list_tit_store a, .buygoods_list_tit_store a:hover, .buygoods_list_con dl dd a, .zuhetaocan_box .buygoods_list_con dl dd a {
    color: #3B95A0;
}

.buygoods_list_tit_address {
    color:#5c5c5c;
    width: 120px;
    height: 22px;
    float: left;
    padding: 13px 0 0;
}

.scrollDiv {
    padding-left: 10px;
    padding-top: 12px;
    height: 22px;
    line-height: 22px;
    width: 400px;
    float: left;
    overflow: hidden;
}

.buygoods_list_tit_storecount {
    color:#5c5c5c;
    width: 245px;
    float: right;
    height: 22px;
    padding: 13px 0 0;
}

.buygoods_list_tit_storecount strong {
    font-size: 16px;
    color: #FF7960;
}

.buygoods_list_con {
    width: 975px;
    height: 90px;
    border: 1px solid #ededed;
    background: #f7f7f3;
    float: left;
    padding: 7px 0 0;
}

.buygoods_list_con_checkbox {
    width: 24px;
    height: 50px;
    float: left;
    padding: 33px 0 0 29px;
}

.buygoods_list_con dl, .zuhetaocan_box .buygoods_list_con dl {
    width: 314px;
    height: 83px;
    float: left;
}

.buygoods_list_con dl dt, .zuhetaocan_box .buygoods_list_con dl dt {
    width: 79px;
    height: 79px;
    background: #fff;
    border: 1px solid #d9d9d9;
    float: left;
    padding: 3px 0 0 3px;
}

.buygoods_list_con dl dd, .zuhetaocan_box .buygoods_list_con dl dd {
    width: 220px;
    height: 79px;
    float: left;
    padding: 0 0 0 10px;
}

.buygoods_list_con dl dd p, .zuhetaocan_box .buygoods_list_con dl dd p {
    width: 192px;
}

.buygoods_list_con dl dd p, .zuhetaocan_box .buygoods_list_con dl dd p {
    width: 192px;
}

.buygoods_list_con_wowsaimoney {
    width: 65px;
    float: left;
    height: 47px;
    padding: 36px 0 0;
}

.buygoods_list_con_unitPrice {
    width: 90px;
    height: 47px;
    float: left;
    font-size: 14px;
    color: #FF776B;
    padding: 36px 0 0;
}

.buygoods_list_con .input_numbox {
    width: 71px;
    float: left;
    height: 48px;
    padding-top: 35px;
}

.buygoods_list_con .input_numbox .anniu_jian {
    margin-right: 8px;
    padding-top: 5px;
}

.buygoods_list_con .input_numbox li {
    float: left;
}

.buygoods_list_con .input_numbox .num_box input {
    width: 30px;
    height: 21px;
    border: 1px solid #ededed;
    text-align: center;
    line-height: 30px;
}

.buygoods_list_con .input_numbox .anniu_jia {
    margin-left: 5px;
    padding-top: 5px;
}


.buygoods_list_con_youhuiinfo_else {
    width: 165px;
    height: 60px;
    text-align: center;
    float: left;
    padding: 23px 0 0;
}

.cart_products .null_span{
    float: left;
    position: absolute;
    left: 550px;
    top: 350px;
}

.cart_products .null_a{
    color:#14A598;
    cursor:pointer;
}

.buygoods_list_con_youhuiinfo_else p {
    width: 165px;
    margin-bottom: 3px;
}

.buygoods_list_con_littlecount {
    width: 71px;
    height: 48px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #FF776B;
    font-weight: 700;
    padding: 35px 0 0;
}

.buygoods_list_con_poeration {
    width: 125px;
    float: left;
    height: 62px;
    padding-top: 21px;
}

.buygoods_list_con_poeration .a0 {
    margin-bottom: 5px;
}

.buygoods_list_con_poeration a {
    width: 125px;
    text-align: center;
    color: #3B95A0;
    float: left;
}

.buygoods_list_con_poeration a {
    width: 125px;
    text-align: center;
    color: #3B95A0;
    float: left;
}