@charset "UTF-8";

.newnav{
	width: 100%;
    background: #f6f6f6;
    padding: 50px 0;
    border-bottom: 1px solid #e1e1e1;
}

.newnav_con{
	width: 1100px;
    margin: 0 auto;
}

.newnav_con_left{
	width: 405px;
}

.newnav_con_left p{
	font-size: 14px;
	color: #00CCCC;
}

.newnav_con_left h2{
	    margin-top: 3px;
	    font-size: 28px;
	    color: #999;
}

.newnav_con_right ul{
	width: 628px;
}

.newnav_con_right ul li{
	width: 157px;
    margin: 0 0 3px 0;
}
    
.newnav_con_right ul li a{
	color: #00CCCC;
    line-height: 18px;
    padding: 0 5px;
    font-size: 14px;
}

.newnav_con_right ul li a:hover{
	background: #00cccc;
    color: #fff;
}

.conditionNav{
	width: 100%;
    height: 53px;
    background: url(/img/condition_bg.gif) repeat-x;
    border-top: 1px solid #e1e1e1;
}

.conditionNav_con{
	width: 1100px;
	margin:0 auto;
}

.conditionNav_con_left ul li{
	width: 50px;
    height: 27px;
    border: 1px solid #00CCCC;
    float: left;
    line-height: 27px;
    font-size: 14px;
    color: #00cccc;
    background: url(/img/icon2.png) no-repeat #fff;
    background-position: 0 -20px;
    margin: 12px 9px 0 0;
    padding: 0 0 0 36px;
}

.conditionNav_con_right{
	width: 145px;
    height: 27px;
    margin: 12px 0 0 0;
    text-align: center;
}

.conditionNav_con_right a:nth-child(1){
    border-radius: 5px 0 0 5px;
}

.conditionNav_con_right a:nth-child(2){
    border-radius: 0 5px 5px 0;
}

.conditionNav_con_right .nowpage{
	background: #00CCCC;
    color: #fff;
    
    border: 1px solid #00cccc;
    border-right: none;
    width: 71px;
    height: 28px;
    color: #fff;
    display: block;
    line-height: 28px;
    float: left;
}

.conditionNav_con_right .nowpage:hover{
    background: #00CCCC;
    color: #fff;
}

.conditionNav_con_right a{
    border: 1px solid #00cccc;
    width: 71px;
    height: 28px;
    color: #00CCCC;
    display: block;
    line-height: 28px;
    float: left;
    background: #fff;
}

.conditionNav_con_right a:hover{
	background: #e8ffff;
    color: #00CCCC;
}

.hideP{
    display: none;
    width: 1100px;
    margin: 0 auto;
    border-bottom: 1px solid #e3e3e3;
}

.hideP p{
    font-size: 14px;
    height: 56px;
    width: 55px;
    text-align: right;
    line-height: 56px;
    color: #545454;
    float: left;
}

.hideP ul{
    width: 1045px;
    float: left;
    padding-bottom: 20px;
}

.hideP ul li{
    float: left;
    padding: 20px 0 0 26px;
}

.hideP ul li a{
    font-size: 14px;
    color: #545454;
}

.hideP ul li a:hover{
    color:#0cc;
}

.product_list{
	width: 1100px;
	margin: 0 auto;
	margin-top: 32px;
    padding-bottom: 70px;
}

.product_item{
	width: 242px;
    height: 380px;
    margin: 0 44px 0 0;
    position: relative;
}

.product_item:hover .hide_add{
    display: block;
}

.hide_add{
    display: none;
    width: 101px;
    height: 30px;
    position: absolute;
    top: 17px;
    right: 10px;
}

.hide_add a{
    width: 101px;
    height: 30px;
    float: left;
    background: url(/img/hide_add.png) no-repeat -1px -3px;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
}

.hide_add a:hover{
    background-position: -1px -34px;
}

.product_item a{
	color: #999;
	font-size: 12px;
}

.goods{
	width: 144px;
    margin: 10px auto 0;
    height: 20px;
}

.overlay{
	height: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.goodsprice{
	width: 65px;
    height: 15px;
    padding: 0 10px;
    background: #fff;
    position: relative;
    top: -10px;
    z-index: 90;
    margin: 0 auto;
}

.product_item_last{
	margin-right: 0;
}

.page{
	width: 1100px;
	margin:0 auto;
	text-align: center;
	padding-bottom: 70px;
}

.page ul li{
	display: inline-block;
    margin: 0 0 0 7px;
}

.page ul li a{
	float: left;
    height: 36px;
    line-height: 36px;
    width: 36px;
    color: #00cccc;
    font-size: 18px;
    background
}

.page ul li:hover a{
    background: url(/img/page.png) no-repeat scroll 0 -93px rgba(0, 0, 0, 0);
    color: #FFFFFF;
}

.page ul li:nth-child(1) span{
	background: url(/img/page.png) no-repeat scroll rgba(0, 0, 0, 0);
    display: block;
    height: 18px;
    margin: 9px auto 0;
    width: 25px;
}

.page ul li:nth-child(1):hover a{
	background-position: 0 -57px;
}


.page ul li:nth-child(9) span{
	background: url(/img/page.png) no-repeat scroll rgba(0, 0, 0, 0);
    display: block;
    height: 18px;
    margin: 9px auto 0;
    width: 25px;
    background-position: -25px -36px;
}

.page ul li:nth-child(9):hover a{
	background-position: 0 -57px;
}

.now{
	background: url(/img/page.png) no-repeat scroll 0 -57px rgba(0, 0, 0, 0)!important;
    color: #fff!important;
}

.footer_top_con{
	padding-top: 45px;
	padding-bottom: 40px;
}

.footer_top_left{
    font-size: 22px;
    width: 365px;
    margin: 40px 0 0 68px;
}

.footer_top_left a{
	color: #555;
	margin: 0 5px;
    font-size: 18px;
}

.footer_top_left span{
	color: #5cc;
	margin: 0 15px;
	font-weight: 900;
    font-size: 20px;
}

.footer_top_mid{
	width: 396px;
	margin-left: 0!important;
}

.footer_top_mid h2{
	font-size: 14px;
	color: #00CCCC;
}

.footer_top_mid ul li{
	width: 132px;
    float: left;
    margin: 10px 0 0 0;
}

.footer_top_mid ul li a{
	color:#999;
	font-size: 14px;
}

.footer_top_right{
	width: 270px;	
}

.footer_top_right li{
	width: 135px;
    float: left;
    margin: 0 0 10px 0;
}

.footer_top_right li a{
	font-size: 14px;
    color: #00CCCC!important;
}

.footer_top_right li a:hover{
	background: #00cccc;
    color: #fff!important;
}