<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>女装品牌_韩版女装_时尚女装-哇噻网</title>
    <link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/init.css">
	<link rel="stylesheet" href="/css/include/public_top.css">
	<link rel="stylesheet" href="/css/include/public_footer.css">
	<link rel="stylesheet" href="/css/product_list.css">
</head>
<body>
    <div id="header"></div>
	
	<!-- ================主题部分====================== -->

    <div id="content">
    	<div class="newnav">
    		<div class="newnav_con clearfix">
    			<div class="newnav_con_left fl">
    				<p>服装配饰</p>
    				<h2>女装</h2>
    			</div>
    			<div class="newnav_con_right fr">
    				<ul>
    					<li class="fl"><a href="#">T恤</a></li>
    					<li class="fl"><a href="#">帽衫卫衣</a></li>
    					<li class="fl"><a href="#">半身裙</a></li>
    					<li class="fl"><a href="#">衬衫</a></li>
    					<li class="fl"><a href="#">长裤</a></li>
    					<li class="fl"><a href="#">毛衣</a></li>
    					<li class="fl"><a href="#">针织衫</a></li>
    					<li class="fl"><a href="#">外套风衣</a></li>
    					<li class="fl"><a href="#">小西装</a></li>
    					<li class="fl"><a href="#">棉衣棉服</a></li>
    					<li class="fl"><a href="#">吊带背心</a></li>
    					<li class="fl"><a href="#">短裤</a></li>
    					<li class="fl"><a href="#">打底裤</a></li>
    					<li class="fl"><a href="#">连衣裙</a></li>
    					<li class="fl"><a href="#">羽绒服</a></li>
    					<li class="fl"><a href="#">毛呢大衣</a></li>
    					<li class="fl"><a href="#">雪纺衫</a></li>
    				</ul>
    			</div>
    		</div>
    	</div>
    	<div class="conditionNav">
    		<div class="conditionNav_con clearfix">
    			<div class="conditionNav_con_left fl">
    				<ul id="screen">
	    				<li class="radius cursor">价格</li>
	    				<li class="radius cursor">标签</li>
	    				<li class="radius cursor">材质</li>
	    			</ul>
    			</div>
	    		<div class="conditionNav_con_right fr">
    				<a href="javascript:0;">最热</a>
    				<a href="javascript:0;">最新</a>
    			</div>	
    		</div>
    	</div>

		<!-- ===========================商品列表=============================== -->

    	<div class="product_list clearfix">
    		
    	</div>
    	<script type="text/html" id="list">
    			<% for(var i = 0; i < 24; i++){
    				if((i+1)%4===0){
    					var classNames = "product_item product_item_last fl";
    				}else{
    					var classNames = "product_item fl";
    				}
    			%>
    					<div class="<%= classNames %>">
			    			<a href="/html/details.html" target="_blank">
			    				<img src="/img/product_item01.jpeg" alt="">
			    			</a>
			    			<a href="javascript:0;" target="_blank">未禾原创设计女装夏季新品 开叉真丝长款连衣裙飘逸凉 舒适</a>
			    			<div class="goods">
			    				<div class="overlay"></div>
			    				<div class="goodsprice ju">￥568.00</div>
			    			</div>
			    		</div>
    			<% } %>
    	</script>
    	<div class="page">
    		<ul class="clearfix">
    			<li>
    				<a class="prev" href="#"><span></span></a>
    			</li>
    			<li><a href="#">1</a></li>
    			<li><a href="#">2</a></li>
    			<li><a href="#">3</a></li>
    			<li><a class="now" href="#">4</a></li>
    			<li><a href="#">5</a></li>
    			<li><a href="#">6</a></li>
    			<li><a href="#">7</a></li>
    			<li><a style="line-height: 25px;" href="#">...</a></li>
    			<li>
    				<a class="next" href="#"><span></span></a>
    			</li>
    		</ul>
    	</div>
    </div>

    <!-- ========================网页尾部===================== -->
    <div class="footer_top">
    		<div class="footer_top_con clearfix">
    				<div style="margin-left: 0;" class="footer_top_left fl">
    					<a href="#">市集</a>
    					<span>·</span>
    					<a href="#">动态</a>
    				</div>
    				<div class="footer_top_mid fl">
    					<h2>女装</h2>
    					<ul>
    						<li><a href="#">T恤</a></li>
    						<li><a href="#">帽衫卫衣</a></li>
    						<li><a href="#">半身裙</a></li>
    						<li><a href="#">衬衫</a></li>
    						<li><a href="#">长裤</a></li>
    						<li><a href="#">毛衣</a></li>
    						<li><a href="#">针织衫</a></li>
    						<li><a href="#">外套风衣</a></li>
    						<li><a href="#">小西装</a></li>
    						<li><a href="#">棉衣棉服</a></li>
    						<li><a href="#">吊带背心</a></li>
    						<li><a href="#">短裤</a></li>
    						<li><a href="#">打底裤</a></li>
    						<li><a href="#">连衣裙</a></li>
    						<li><a href="#">羽绒服</a></li>
    						<li><a href="#">毛呢大衣</a></li>
    						<li><a href="#">雪纺衫</a></li>
    					</ul>
    				</div>
    				<ul class="footer_top_right fr">
    					<li><a href="#">服装配饰</a></li>
    					<li><a href="#">艺术创作</a></li>
    					<li><a href="#">家居日用</a></li>
    					<li><a href="#">传统民艺</a></li>
    					<li><a href="#">饰品饰物</a></li>
    					<li><a href="#">鞋子包袋</a></li>
    					<li><a href="#">玩偶玩具</a></li>
    					<li><a href="#">文具纸本</a></li>
    					<li><a href="#">影音数码</a></li>
    					<li><a href="#">植物食品</a></li>
    				</ul>
    		</div>
    		<div class="footer_bottom">
    			<div class="footer_bottom_con">
    				<div class="footer_bottom_tit">
                        高端定制上哇塞网            
                    </div>
                    <div class="footer_nav">
                        <a href="#">关于我们</a>
                        <a href="#">联系我们</a>
                        <a href="#">媒体报道</a>
                        <a href="#">创意画报</a>
                        <a href="#">招贤纳士</a>
                        <a href="#">版权保护</a>
                        <a href="#">用户条款</a>
                        <a href="#">隐私声明</a>
                        <a href="#">友情链接</a>
                        <a href="#">网站地图</a>
                        <a href="#">帮助中心</a>
                        <a href="#">手工客</a>
                    </div>
                    <div class="footer_copy">
                        北京光年创艺信息技术有限公司 WowSai.com Copyright© 2008-2013 [京ICP备10020900][京公网安备11010502026420][京ICP证090011号]
                    </div>
    			</div>
    		</div>
    
</body>
	<script src="/library/requirejs/require.js" data-main="/js/product_list"></script>
</html>